{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "global-require": 0,
    "react/prop-types": 0
    



  }
}